{% extends "base.html" %}


{% block content %}

            <div class="row">
                <div class="col-sm-12">
                    <h3>Search a Fabex through its QRCODE</h3>
                    <p>Show at your webcam the QRCODE given by Fabexpertizer and it'll be show if exists</p>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-4">
                <div id="reader" style="width:300px;height:220px">
                </div>
            </div>
            <div class="col-sm-8">
                <div id="results">
                <ul class="list-group">
                  <li id='title_result' class="list-group-item"></li>
                  <li id='author_result' class="list-group-item"></li>
                  <li id='machine_result' class="list-group-item"></li>
                  <li id='created_result' class="list-group-item"></li>
                  <li id='link_result' class="list-group-item"></li>
                </ul>
                    
                </div>
            </div>
            </div>
{% endblock %}
{% block javascript %}  
    <script src="./js/html5-qrcode.min.js"></script>
    <script src="./js/qrsearch.js"></script>
{% endblock %}
